<ion-view hide-nav-bar="true" class="background-intro">
    <ion-content has-header="false" hide-nav-bar="true" padding="true" has-tabs="false">
            <ion-slide>
                <h1 style="color:#9b59b6">InfoTaz</h1>
                <h3 class="tagline">Mieux vaut prévenir que guérir.</h3>

                <div class="card">
                    <div class="item item-text-wrap">
                        Le contenu de cette application entre dans la cadre de la politique de Santé Publique dite de "Réduction des risques liés à l'usage de drogues" (Loi du 9 août 2004) et respecte le référentiel national de réduction des risques pour usagers de drogues.
                        Nous n'incitons pas à la prise de drogue, nous pensons simpelment que chacun à le droit d'accéder à l'information qu'il souhaite et faire ses propres choix par la suite.


                    </div>
                </div>

                <i class="icon icon-intro ion-alert-circled"></i>
            </ion-slide>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="row">
            <div class="col">
                <a ui-sref="tabs.discover" class="button-intro button-dark">
                    Okay
                </a>
            </div>
            <div class="col">
                <a ui-sref="logout" class="button-intro button-positive">
                    Quitter
                </a>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>