/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #e74c3c !default;
$royal:                           #886aea !default;

$positive:                    #2c3e50 !default;
$dark:                        #9b59b6 !default;
$base-background-color: $positive;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic", "www/lib/ionic-filter-bar/scss/ionic.filter.bar.scss";


h1, h2, h3, h4 {
    font-weight: bold; }

h4 {
    text-transform: uppercase;
    text-align: center; }

.background-intro {
    background-image: url('../img/bg-intro.gif');
    background-size: cover;
    background-position: center;
}

.background-dark {
    background: $dark;
}

.button-intro {
    margin-top: -5px;
    margin-right: -30px;
    margin-bottom: -15px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 0;
    text-decoration: none;
    font-weight: bold;

    &.button-dark {
        background: $dark;
        color: #FFF;
    }

    &.button-positive {
        background: $positive;
        color: #000;
    }
}

.btn-add-expense {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    z-index: 100;
    font-size: 60px;
    color: $positive;
}

.logo {
    position: relative;
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background: #cfb20c;
    background: -moz-linear-gradient(top, #cfb20c 0%, #f8d50e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfb20c), color-stop(100%, #f8d50e));
    background: -webkit-linear-gradient(top, #cfb20c 0%, #f8d50e 100%);
    background: -o-linear-gradient(top, #cfb20c 0%, #f8d50e 100%);
    background: -ms-linear-gradient(top, #cfb20c 0%, #f8d50e 100%);
    background: linear-gradient(to bottom, #cfb20c 0%, #f8d50e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfb20c', endColorstr='#f8d50e',GradientType=0 );
}

.logo span {
    font-size: 40px;
    color: $dark;
    position: absolute;
    top: 40%;
    left: 40%;
}

.tagline {
    text-align: center;
    color: #FFF;
    margin-bottom: 50px;
}

.button-theme {
    border-radius: 4px;
    padding: 2px 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    &.button-positive {
        color: $dark;
    }
}

.platform-ready .bar-subheader.has-tabs-top {
    top: 93px !important; }
.platform-ready .bar-subheader.has-tabs-top h1 {
    color: $dark;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }

.loading-container {
    background: rgba(0, 0, 0, 0.8);
    .loading {
    font-size: 12px;
    }
    .loading i {
    font-size: 30px;
    }
}

.slider {
    height: 95%;
}

.slider-slide {
    padding-top: 40px;
    color: #FFF;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.slider-pager-page i {
    color: #FFF;
}

.bar-footer {
    margin: 0px;
    padding: 0px;
}

.bar-footer .col {
    margin: 0px;
    padding: 0px;
}

form i.icon.error {
  color: $assertive;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
}

form .has-error {
  border-left: 5px solid darken($assertive, 15%);
}

form .has-success {
  border-left: 5px solid darken($energized, 15%);
}

form.ng-submitted input.ng-valid + i.ic


.col-50, .col-33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.item-avatar, .item.tabs {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}


.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.item-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.td-cards
{
    display: block;
}

.td-card
{
    position: absolute;
    left: 50%;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: -150px;
    width: 300px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
    background: white;
}

.td-card .image
{
    position: relative;
}

.td-card img
{
    max-width: 100%;
}

.td-card .title
{
    background: #FFF;
    font-size: 16px;
    padding: 15px;
    text-transform: capitalize;
    text-align:center;
}

/* Overlay styling*/

.overlayBox
{
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed
{
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    font-size: 35px;
}

.yes-text
{
    text-align: center;
}

.yesBox
{
    margin: 10% 60% 0% 10%;
    border: 2px solid $balanced;
    color: $balanced;
    -webkit-transform: rotate(-25deg);
}

.no-text
{
    text-align: center;
}

.noBox
{
    margin: 10% 10% 0% 60%;
    border: 2px solid $assertive;
    color: $assertive;
    -webkit-transform: rotate(25deg);
}

.fade
{
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.icon-intro {
    color:#f8d50e;
    font-size:150px;
}

.color-circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.suggest-colors{
    margin-left: 13%;
}