<ion-view cache-view="false"  view-title="A propos">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
        Info blabla
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
Blablabla
            </div>
        </div>

    </ion-content>
</ion-view>