<ion-view cache-view="false"  view-title="A propos">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-ios-arrow-left"  ng-click="$ionicGoBack()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-avatar">
                <i style="color:#e74c3c" class="icon ion-alert-circled"></i>

                <h2><strong>{{ item.name }}<strong></h2>
            </div>
            <div class="item item-body">
                <img ui-sref="tabs.detail({itemId: item.$$hashKey })" class="full-image" src="http://de.drugchecking.ch{{ item.img }}">
                <p>
                    <strong>Date</strong> : {{ item.date }}
                    <br>
                    <strong>Composant(s)</strong> : {{item.content.join(', ')}}
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>