<ion-view view-title="Alertes">
<!--    <div class="bar bar-positive bar-subheader">
        <h2 class="title">Dernières données</h2>
    </div>-->

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
        </button>
    </ion-nav-buttons>

  <ion-content>
      <ion-refresher
              pulling-text="Tirer vers le bas pour rafraichir..."
              pulling-icon="ion-arrow-down-b"
              on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>

          <a href="#" class="item item-icon-left">
              <i style="color:#e74c3c" class="icon ion-alert-circled"></i>
              Très fortement dosé
          </a>

          <a href="#" class="item item-icon-left">
              <i style="color:#f1c40f" class="icon ion-alert-circled"></i>
              Fortement dosé
          </a>

          <div class="list card" ng-repeat="item in items" >
              <div class="item item-avatar">
                  <i style="color:#e74c3c" class="icon ion-alert-circled"></i>

                  <h2><strong>{{ item.name }}<strong></h2>
              </div>
              <div class="item item-body">
                  <img ui-sref="tabs.detail({itemId: item.$$hashKey })" class="full-image" src="http://de.drugchecking.ch{{ item.img }}">
                  <p>
                      <strong>Date</strong> : {{ item.date }}
                      <br>
                      <strong>Composant(s)</strong> : {{item.content.join(', ')}}
                  </p>
              </div>
          </div>

      </ion-list>
      <ion-infinite-scroll
              on-infinite="loadMore()"
              distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>