<ion-view cache-view="false"  view-title="Conseils">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
        Renseigne-toi du mieux possible sur la qualité et leffet du produit. Poudre et cachet sont très souvent coupés.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Évite de gober plusieurs ecsta dans une même soirée (hyperthermie, problèmes cardio-vasculaires..). Moins on en prend, plus on apprécie les effets. La première fois, prends en un quart ou une moitié.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Si tu as décidé de gober, fais-le avec des gens de confiance, dans un contexte rassurant.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Ne mélange pas la MDMA avec d'autres substances, en particulier l'alcool.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Évite d'avoir l'estomac plein (nausées, digestion difficile) au moment de la prise mais prends un repas énergétique quelques heures avant (il te faut des forces...).
            </div>
        </div>


        <div class="card">
            <div class="item item-text-wrap">
            Lors de la descente, mange des produits vitaminés et sucrés (fruits, bonbons...).
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            La MDMA est médicalement contre-indiquée dans les cas de troubles du rythme cardiaque,d'épilepsie, de problèmes psychiatriques, d'insuffisance rénale ou hépatique, d'asthme, de diabète, d'asthénie et également aux femmes enceintes ou allaitant leur enfant. En cas de traitement, attention aux interactions médicamenteuses.
            </div>
        </div>


        <div class="card">
            <div class="item item-text-wrap">
            L'usage d'ecstasy entraînant une grande fatigue, ainsi qu'un éventuel état dépressif momentané,il est conseillé de se reposer les jours suivants. Attends plusieurs semaines si tu as décidé de renouveler l'expérience.
            </div>
        </div>


        <div class="card">
            <div class="item item-text-wrap">
            Absorbe l'ecstasy par voie orale uniquement.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Porte des vêtements amples (pas de bonnet).
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Bois de l'eau régulièrement mais ne bois pas de grandes quantités d'un coup.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Évite de prendre le volant (reste en vie, on t'aime!) et d'entreprendre une activité à responsabilité...
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
            Prends garde à la désinhibition, mets une capote et pense au gel lubrifiant car les produits dessèchent !
            </div>
        </div>

        <div class="card">
            <div style="background-color:#f1c40f;" class="item item-text-wrap">
                Conseils tirés du site de l'association Techno +
            </div>
        </div>

    </ion-content>
</ion-view>