<ion-view>
    <ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab hidden="true" title="Détail" href="#/tab/detail">
            <ion-nav-view name="tab-detail"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Découverte" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/discover">
            <ion-nav-view name="tab-discover"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Conseils" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/help">
            <ion-nav-view name="tab-help"></ion-nav-view>
        </ion-tab>

        <ion-tab title="A propos" icon-off="ion-ios-information" icon-on="ion-ios-information" href="#/tab/about">
            <ion-nav-view name="tab-about"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    
</ion-view>